.center-box {
    text-align: center;
}

.char-cast-box {
    color: beige;
    background-color: rgb(53 54 58);
    margin: 1vw;
}

.profile {
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}

.cast {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.jap-voice,
.eng-voice {
    margin: .5vw 1vw;
}

.char-cast-headings {
    color: goldenrod;
    margin: 10px 0px;
    font-size: 15px;
}